site_name: Life's Web3 开发指南
site_url: https://lifefindsitsway.wiki/
repo_name: web3-tutorials
repo_url: https://github.com/lifefindsitsway/web3-tutorials
copyright: Copyright &copy; 2024 ~ present by <a href="https://github.com/lifefindsitsway" target="_blank" rel="noopener noreferrer">Lifefindsitsway</a>

theme:
  name: material
  language: zh
  static_templates:
    - 404.html
  custom_dir: overrides
  
  features:
    - header.autohide
    - navigation.tracking
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - content.code.copy
    - content.code.annotate

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: light blue
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  
  font:
    text: Roboto Slab
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github

  plugin: 
    - search
    - git-revision-date-localized:
        type: datetime
        timezone: Asia/Shanghai
        locale: zh
        enable_creation_date: true
    - changelog
    - statistics:
        page_check_metadata: comment
    - toc
    - heti
    - tikzautomata
    - comments

  extra: 
    social: 
      - icon: fontawesome/brands/github
        link: https://github.com/lifefindsitsway/web3-tutorials/
    analytics:
      provider: google
      property: G-KJB4RXSKZG
  
  markdown_extensions:
    - toc:
      permalink: true
      toc_depth: 4
    - meta
    - def_list
    - attr_list
    - md_in_html
    - sane_lists
    - admonition
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.tilde
    - pymdownx.critic
    - pymdownx.details
    - pymdownx.snippets
    - pymdownx.magiclink
    - pymdownx.superfences
    - pymdownx.inlinehilite
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
    - pymdownx.tabbed:
        alternate_style: true 
    - pymdownx.tasklist:
        custom_checkbox: true
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.arithmatex:
        generic: true

nav:
  - Welcome to My Blog: index.md
  - 更新日志: changelog.md
  - 区块链基础: 
    - Solidity: 
      - 为什么以太坊地址是 20 字节？从私钥到地址的全解析: blockchain/ethereum_address_size_251120.md
      - Solidity 地址类型 & 常见用法全攻略: blockchain/address_251125.md
  - Web3: 
    - DAPP 开发: web3/dapp/index.md
    - DeFi: 
      - 去中心化交易所: web3/defi/dex.md